<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/ChrisEngstrom/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="ChrisEngstrom" />
            <add key="ClearTextPassword" value="6da0c2b308473e75bd5020784a9d79e8e8850ef8" />
        </github>
    </packageSourceCredentials>
</configuration>